@*
    This Razor view contains links and an image.
    It provides links to external websites and an image from the local project.
*@

<a href="https://baconsale.com" /> <!-- Link to the Baconsale website -->
<img src="~/img/baconsalekate.jpg" /> <!-- Image from the local project -->

<br />

<a href="https://www.qwcomedy.com" />Come See Me Perform!</a> <!-- Link to qwcomedy website -->

<br />

<a href="https://baconsale.com" />Visit our homepage</a> <!-- Link to the Baconsale homepage -->
