@{
    // Set the title of the page
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!-- Container for the welcome message -->
<div class="text-center">
    <!-- Welcome heading -->
    <h1 class="display-4">Welcome</h1>

    <!-- Image of Joel Hilton -->
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
